<html>
  <head>
    <link href="{{ url_for('static', filename='css/movie.css') }}"
    rel="stylesheet"/>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}"
    rel="stylesheet"/>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <title>Online Movie Database</title>
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed"
          data-toggle="collapse" data-target="#navbar" aria-expanded="false"
          aria-controls="navbar">
            <span class="sr-only">Toggle Navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        <a class="navbar-brand" href="/">Online Movie Database</a>
        </div>
        <div id="navbar" class"collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="{{ url_for('movies') }}">Movies</a></li>
            <li><a href="{{ url_for('actors') }}">Actors</a></li>
          </ul>
          <form class="navbar-form navbar-left">
            <div class="form-group">
              <input id="search" type="text" class="form-control" placeholder="search">
              <button id="search_button" type="submit" class="btn btn-default">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </nav>
    <div class="content">
        {% block content %}

        {% endblock %}
    </div>

    <script
    src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/movie.js') }}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
  </body>
</html>
