body{
  padding-top:70px;
}
.movie_of_week{
  float:left;
  position:absolute;
}
.reviews, .news{
  float:right;
  padding:10px;
  clear:both;
  position:relative;
  top:100px;
}
img{
  float:left;
  padding:20px;
}
.movie_info{
  float:left;
}
.runtime, .release, .revenue, .genre, .dob, .dod{
  float:left;
  padding:10px;
  margin:0;
}
.meta{
  float:right;
  clear:both;
}
.movie_main{
  padding:20px;
  padding-top:40px;
  position:relative;
  top:30px;
}
.cast{
  padding:20px;
}
